{% extends "deepbrook_portfolio/layout.html" %}

{% block title %}
    Deepbrook Portfolio
{% endblock %}

{% block main %}
	<p>
		Deepbrook Portfolio is a tool to simulate buying and selling stocks.
	</p>

	<p>
		No real money is used, but stock prices shown in the app relflect actual, real-time prices. Data is provided by IEX Cloud.
	</p>

	<p>
		Users can register for an account my creating a username and password. Once signed in, users start with $10,000 in play money. Get price quotes, buy, sell, view your trade history, and watch what happens to the value of your portfolio as the markets move in real life.
	</p>
{% endblock %}
