{% extends "deepbrook_portfolio/layout.html" %}

{% block title %}
    Deepbrook Portfolio
{% endblock %}

{% block main %}
	{% if user.is_authenticated %}
		<p>
			Hello {{ request.user.username }}, welcome to Deepbrook Portfolio
		</p>
	{% else %}
		<h5>Welcome to Deepbrook Portfolio</h5>
		<p>
			Simulate buying and selling stocks at real-time prices. Experiment with portfolio management.
		</p>
		<p>
			<a href="{% url 'deepbrook_portfolio:login' %}">Log In</a>
		</p>
		<p>
			Don't have an account? <a href="{% url 'deepbrook_portfolio:register' %}">Register</a>
		</p>
	{% endif %}
{% endblock %}

